DATABASE_URL='postgresql+psycopg://postgres:postgres@db:5432/postgres'
JWT_SECRET_KEY='SECRET_KEY'
JWT_ALGORITHM='HS256'
JWT_EXPIRATION_MINUTES=30
DATABASE_URL_DEV='postgresql+psycopg://app_user:app_password@localhost:5432/app_db'